


{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Bienvenue sur  <span>Restaurantly </span></h1>
          <h2>Nous livrons des plats depuis 18 ans !</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Notre menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Réserver une table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'client/assets/img/about.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pourquoi nous ?</h2>
          <p>Raisons de choisir notre restaurant</p>
        </div>

        <div class="row">

        {% for REASON in REASONS_TO_CHOOSE  %}
          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>0{{ forloop.counter }}</span>
              <h4>{{REASON.name}}</h4>
              <p>{{REASON.description}}</p>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Jetez un oeil à nos superbes plats </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Tous</li>

              {% for categorie in CATEGORIES %}
              <li data-filter=".{{categorie.id}}">{{categorie.name}}</li>
              {% endfor %}
          
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          {% for plat in MENUS  %}
              <div class="col-lg-6 menu-item {{plat.category.id}}">
              <img src="{{plat.image.url}}" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">{{plat.name}}</a><span>{{plat.price}} Fcfa</span>
              </div>
              <div class="menu-ingredients">
                {{plat.description}}
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section =======
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Modi sit est</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Unde praesentium sed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Architecto ut aperiam autem id</h3>
                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Évènements</h2>
          <p>Organisez vos évenements dans notre restaurant </p>
        </div>

        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">

      {% for event in EVENTS  %}
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{{event.image.url}}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>{{event.name}}</h3>
              <div class="price">
                <p><span>{{event.price}} Fcfa</span></p>
              </div>
              <p class="font-italic">
                {{event.description}}
              </p>

              <!--
                <ul>
                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>
              -->
            </div>
          </div>
{% endfor %}
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Réservations</h2>
          <p>Réservez une table</p>
        </div>

       

        <div id="reservationAjaxResult" class="alert alert-dismissible fade show " role="alert">
            
        </div>


        <form novalidate action="{% url 'reservation' %}" id="reservationForm" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-lg-4 col-md-6 form-group">
            {{ ReservationForm.name.errors }}
            {% render_field ReservationForm.name class+="form-control" placeholder="Entrer votre nom" %}
              <div class="alert-danger validation"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
            {{ ReservationForm.email.errors }}
               {% render_field ReservationForm.email class+="form-control" placeholder="Entrer votre email" %}
              <div class="alert-danger validation"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
            {{ ReservationForm.phoneNumber.errors }}
               {% render_field ReservationForm.phoneNumber class+="form-control" placeholder="Entrer votre numéro de Tel" %}
              <div class="alert-danger validation"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
            {{ ReservationForm.date.errors }}
               {% render_field ReservationForm.date class+="form-control datepicker" placeholder="Entrer la date de reservation" %}
              <div class="alert-danger validation"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
            {{ ReservationForm.time.errors }}
               {% render_field ReservationForm.time class+="form-control" placeholder='Entrer l heure de reservation' %}
              <div class="alert-danger validation"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
            {{ ReservationForm.nbOfPeople.errors }}
               {% render_field ReservationForm.nbOfPeople class+="form-control" placeholder="Entrer le nombre de personnes" %}
              <div class="alert-danger validation"></div>
            </div>
          </div>
          <div class="form-group">
          {{ ReservationForm.message.errors }}
               {% render_field ReservationForm.message class+="form-control" placeholder="Entrer le message" %}
            <div class="alert-danger validation"></div>
          </div>

          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>



      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Témoignages</h2>
          <p>Ceux qui se dit à propos de nous</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

        {% for testimonial in TESTIMONIALS %}
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{testimonial.description}}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'client/assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
            <h3>{{testimonial.client.name}}</h3>
            <h4>{{testimonial.client.profession}}</h4>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Galerie</h2>
          <p>Quelques photos de notre restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row no-gutters">

          {% for photo in GALERIE  %}
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'client/assets/img/gallery/gallery-' %}{{ forloop.counter }}.jpg" class="venobox" data-gall="gallery-item">
                <img src="{% static 'client/assets/img/gallery/gallery-' %}{{ forloop.counter }}.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          {% endfor %}

    

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chefs</h2>
          <p>Nos chefs pros</p>
        </div>

        <div class="row">
{% for chef in CHEFS  %}
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="{% static 'client/assets/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{chef.name}}</h4>
                  <span>{{chef.poste}}</span>
                </div>
                <!--
                  <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
                -->
              </div>
            </div>
          </div>

{% endfor %}


        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contactez nous</p>
        </div>
      </div>
    
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="{{INFO.googleMapsLink}}" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>{{INFOS.location}}</p>
              </div>

              <div class="open-hours">
                <i class="icofont-clock-time icofont-rotate-90"></i>
                <h4>Heures d'ouverture : </h4>
                <p>
                  {{ INFOS.dateOuvertes }}:<br>
                  {{ INFOS.heureOuvertes }}
                </p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{INFOS.email}}</p>
              </div>
              


              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Appel:</h4>
                <p>{{INFOS.phoneNumber}}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% endblock content %}


{% block script %}
  {{block.super}}

 <script>


$( document ).ready(function() {
  
  $("#reservationForm").submit(function(event){
	event.preventDefault(); //prevent default action 
  const divAjax = $('#reservationAjaxResult')
	var post_url = $(this).attr("action"); //get form action url
	var form_data = $(this).serialize(); //Encode form elements for submission
	
  divAjax.removeClass("alert-success")
  $('.validation').html("")
  $("#reservationForm input,#reservationForm textarea").css('border','solid').text('')
  $("#reservationForm .validation").removeClass('alert-danger')

  divAjax.click(() =>  {divAjax.fadeOut( 2000);});

  $("#reservationForm input").on('input',(e) => {
    console.log($(e.target))
    $(e.target).css('border','solid').next('.validation').removeClass('alert-danger').text('')
  })

	$.post( post_url, form_data, function( response ) {
    console.log(response)

    if(response.status == 201){
      divAjax.removeClass("alert-danger")
      divAjax.addClass("alert-success")
      $("#reservationForm input,#reservationForm textarea").val('')
      divAjax.html(`${response.message}`)

 

    }else{
      //divAjax.removeClass("alert-success")
      //divAjax.addClass("alert-danger")
      let htmlToPlug="";
      for (const [key, value] of Object.entries(response.formError)) {
        $(`input[name=${key}]`).css( "border", "solid red" )

        //$(`input[name=${key}]`).next( ".alert-danger" ).text(value[0])
        $(`input[name=${key}]`).next( ".validation" ).addClass('alert-danger').text(value[0])
        
        
       // htmlToPlug += `${key.toUpperCase()} =>  ${value[0]} <br />`
      }
      
      //divAjax.html(`${htmlToPlug}`)




    }

	  //$("#server-results").html( response );
	});
});
    
    

  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2020:2021",
      // You can put more options here.

    });
  });


});


  </script>

{% endblock %}